/*reviewlistPage 썸네일*/
#review-container {
    display: flex;
    flex-wrap: wrap;
}

#review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    border: solid 1px lightblue;
    padding: 10px;
    margin: 10px;

}

#img {
    width: 300px;
    height: 400px;
    /*object-fit: cover;*/
}

/*페이징 처리*/

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

/*#pagination {*/
/*    margin-top: 20px;*/
/*}*/

.user_profile li {
    display: inline-block;
}


.paging {
    text-align: center;
    margin-top: 30px;
}

.paging li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 17px;

}


.paging li > a {
    padding: 8px 8px;
    transition: background-color .3s;
    color: black;
}


.paging li:hover {

    /*background: #ffffff;*/
    font-weight: bold;
    transition: 0.1s ease-in-out;
    border-radius: 50px;

}

.paging li > a:hover {
    color: #ffffff;
}


