.wrap {
    display: grid;
    grid-template-columns: 20% 80%;
}

.aside ul, .aside li, .aside a {
    display: inline-block;
    width: 100%;
}
.aside a {
    background: red;
    height: 60px;
    text-align: center;
    line-height: 60px;
}


.admin-ingrList tr td{
    height: 40px;
}