body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.find-title{
    text-align: center;
}

.form_wrap {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 30px auto;
    max-width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.find-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.id_box {

}

.input-name {
    margin-bottom: 20px;
}

.input-email{
    margin-bottom: 20px;
}
.input-code{
    margin-bottom: 15px;
}

.form-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.input-box {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*버튼*/
.email-btn, .code-btn {
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid  #265037;
    background-color: white;
    color: #265037;
    cursor: pointer;
    margin-left: 10px;
}

.email-btn:hover {
    color: #1e6b7b;
    background: aliceblue;
}
.code-btn:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.show-btn{
    padding: 10px 40px;
    background-color: #265037;
    color:#DCE4CF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;

}

.show-btn:hover{
    background-color: aliceblue;
    color: #1e6b7b;
}


.btn_box {
    text-align: center;
    margin-top: 20px;
}

/*아이디 조회*/
.show_box{
    display: flex;
    justify-content: center;
}

.show-id{
    margin-top: 10px;
    font-size: 1rem;
    background: darkseagreen;
}

.go-login {
    text-align: center;
    margin-top: 20px;
}

.g-text {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}


/*경고 메시지*/
.error {
    color: #ff0000;
    font-size: 12px;
    display: none;
}


.err {
    font-size: 12px;
    margin-left: 5px;
}