/* 로그인*/

.form_wrap{
    padding: 0 10%;
}

.form_container{
    border: 1px solid black;
    padding: 5%;
}

input{
    border: 1px solid black;
}

/* 맞춤식단 */

.body_header{
    text-align: center;
}

.json_wrap{
    display: flex;
    flex-direction: column;
}


.menu-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.menu-details.expanded {
    max-height: 1000px; /* Adjust this value according to your needs */
}

.nutritional-info.hidden {
    display: none;
}


