.form_wrap{
    padding: 10%;
}

.form_container{
    border: 1px solid black;
    padding: 5%;
}

.input-box{
    padding: 10px;
    border-radius: 4px;
}
/*전체 동의*/
.label-wrapper{
margin-top: 20px;
}


/*버튼 모음*/
.btn-dupl{
   padding: 5px;
    border-radius: 8px;
    border: 3px solid aliceblue;
    background-color: aliceblue;
    color: #1e6b7b;
    margin-left: 10px;
    cursor: pointer;
}
.btn-dupl:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.email-btn{

}

.join-btn{


}


.form-title{
   font-size: 1.2rem ;
}


.form_wrap>form{
    display: flex;
    border: solid 1px black;
}

/*경고 메시지*/
.err{
    font-size: 0.8rem;
}

.error{
    display: none;
    color:red;
    font-size: 0.8em;
}

