.form_wrap{
    padding:10% 20%;

}
.form_wrap>form{
    display: flex;
    border: solid 1px black;
    justify-content: center;
}

.form_container{
    border: 1px solid black;
    padding: 5%;
}

.form-box{
    padding: 10px;
}

.input-container{
    padding: 10px;
}

.input-box{
    padding: 10px;
    border-radius: 4px;
}
/*전체 동의*/
.label-wrapper{
margin-top: 20px;
}


/*버튼 모음*/
/*중복확인*/
.btn-dupl{
   padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #265037;
    background-color: white;
    color: #265037;
    margin-left: 10px;
    cursor: pointer;
}
.btn-dupl:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.email-btn{
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #265037;
    background-color: white;
    color: #265037;
cursor: pointer;
    margin-top: 10px;
}

.email-btn:hover {
    color: #1e6b7b;
    background: aliceblue;
}
.code-btn{
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid  #265037;
    background-color: white;
    color: #265037;
    cursor: pointer;
    margin-left: 10px;

}
.code-btn:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.join-btn{
   padding: 10px 40px;
    background-color: #265037;
    color:#DCE4CF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;


}

/*폼 제목*/
.form-title{
   font-size: 1.2rem ;
}




/*경고 메시지*/
.err{
    font-size: 0.8rem;
}

.error{
    display: none;
    color:red;
    font-size: 0.8em;
}

