.form_wrap{
    padding:10% 20%;
}
.form_wrap>form{
    display: flex;
    border: solid 1px black;
    justify-content: center;
}

.form_container{
    border: 1px solid black;
    padding: 5%;
}

.form-box{
    padding: 10px;
}

.input-container{
    padding: 10px;
}

.input-box{
    padding: 10px;
    border-radius: 4px;
}
/*전체 동의*/
.label-wrapper{
margin-top: 20px;
}


/*버튼 모음*/
.btn-dupl{
   padding: 5px;
    border-radius: 8px;
    border: 1px solid aliceblue;
    background-color: aliceblue;
    color: #1e6b7b;
    margin-left: 10px;
    cursor: pointer;
}
.btn-dupl:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.email-btn{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid aliceblue;
    background-color: aliceblue;
    color: #1e6b7b;
cursor: pointer;
}

.email-btn:hover {
    color: #1e6b7b;
    background: aliceblue;
}
.code-btn{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid  aliceblue;
    background-color: aliceblue;
    color: #1e6b7b;
    cursor: pointer;
    margin-left: 10px ;

}
.code-btn:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.join-btn{
   padding: 10px 20px;
    border: 0px;
    box-sizing: border-box;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(8, 204, 202) 0%, rgb(24, 231, 156) 100%);
    color: rgb(255, 255, 255);


}


.form-title{
   font-size: 1.2rem ;
}




/*경고 메시지*/
.err{
    font-size: 0.8rem;
}

.error{
    display: none;
    color:red;
    font-size: 0.8em;
}

