.selected-prefer button, .selected-dislike button {
    margin-left: 8px; /* 버튼과 재료 사이의 간격 조정 */
    background-color: transparent;
    border: none;
    color: red; /* 'X' 버튼의 색상 설정 */
    cursor: pointer;
}

.category button.selected {
    background-color: darkcyan;
}

.dislike_title, .prefer_title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.store-container1, .store-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#generatedMenus{
    height: 90%;
    overflow: scroll;
}

#generatedMenus li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#myform{
    border: 1px solid #ffb9b9;
    border-radius: 10px;
}

#myform, #myform>ul, #myform h2, #myform span, #myform li, #myform label, #myform div{
    background-color: #ffb9b9;
}

.ing{
    display: flex;
}

.personal_menu li,
#generatedMenus div {
    background-image: url("../img/table.jpg"); /* 이미지 경로 설정 */
    /*background-size: cover; !* 이미지 크기 조절 *!*/
    /* 추가적인 스타일링 속성 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-position: center center; /* 이미지 중앙 정렬 */
    /* ... */
}

/* 버튼 */

button:hover{
    cursor: pointer;

}


.form_wrap>form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 1px black;
    /*color: #2194E0;*/

    @keyframes sheen {
        0% {
            transform: skewY(-45deg) translateX(0);
        }
        100% {
            transform: skewY(-45deg) translateX(12.5em);
        }
    }

    .wrapper {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button {
        /*padding: 0.75em 2em;*/
        text-align: center;
        text-decoration: none;
        color: #2194E0;
        border: 2px solid #2194E0;
        font-size: 16px;
        display: inline-block;
        border-radius: 0.3em;
        transition: all 0.2s ease-in-out;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            background-color: rgba(255, 255, 255, 0.5);
            height: 100%;
            width: 3em;
            display: block;
            position: absolute;
            top: 0;
            left: -4.5em;
            transform: skewX(-45deg) translateX(0);
            transition: none;
        }

        &:hover {
            background-color: #2194E0;
            color: #fff;
            border-bottom: 4px solid #2194E0;
            cursor: pointer;


            &:before {
                transform: skewX(-45deg) translateX(13.5em);
                transition: all 0.5s ease-in-out;
            }
        }
    }
}

.json_wrap>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.image-with-content {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

.food_img {
    display: block;
    max-width: 100%;
    height: auto;
}

.content {
    position: absolute;
    top: 50%; /* 수직 정렬을 위해 50%로 설정 */
    left: 50%; /* 수평 정렬을 위해 50%로 설정 */
    transform: translate(-50%, -50%); /* 내용을 중앙으로 정렬 */
    width: 80%; /* 내용의 너비를 조절 */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    z-index: 1; /* 설정한 값보다 작은 값을 사용 */
    box-sizing: border-box; /* 패딩과 너비가 요소 전체 크기에 포함되도록 함 */
    height: 80%;
}

/*!* 배경 이미지 크기를 설정 *!*/
/*.image-with-content::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-image: url("img/table.jpg");*/
/*    background-size: cover;*/
/*    background-position: center center;*/
/*    z-index: -1; !* 설정한 값보다 작은 값을 사용 *!*/
/*}*/
