.wrap {
    display: grid;
    grid-template-columns: 20% 80%;
}

.aside ul, .aside li, .aside a {
    display: inline-block;
    width: 100%;
}
.aside a {
    background: red;
    height: 60px;
    text-align: center;
    line-height: 60px;
}


/*회원 탈퇴*/

.form_wrap{
    padding: 0 10%;
}
.form_container{
    border: 1px solid black;
    padding: 5%;
}
.leave_text{
   text-align: center;
}

.leave-form{
    display: flex;
    justify-content: center;
}
.input-leave{
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;

}
.input-userId{
    margin-bottom: 20px;
}

.leave-btn{
    margin-top: 30px;
}




/*경고 문구*/
.error{
    display: none;
    color:red;
    font-size: 0.8em;
}