.wrap {
    display: grid;
    grid-template-columns: 20% 80%;
}

.aside ul, .aside li, .aside a {
    display: inline-block;
    width: 100%;
}
.aside a {
    background: #f0f0f0;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.aside a:hover{
    color: #1e6b7b;
}

.aside a.active {
    background: #265037;
    color: white;
}


/*.menu-link {*/
/*    display: block;*/
/*    text-decoration: none;*/
/*    color: #333;*/
/*}*/

/*.menu-link:hover {*/
/*    color: #e74c3c;*/
/*}*/

.section {
    flex: 3;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



/*회원 탈퇴*/
body {
    margin: 0;
    padding: 0;
}


.form_wrap {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.form_container{

}
.leave_text{
   text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.leave-form{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.input-leave {
    width: 100%;
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.btn-leave{
    display: flex;
    justify-content: center;

}


.leave-btn{
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}




/*경고 문구*/
.error{
    display: none;
    color:red;
    font-size: 0.8em;
}