.form_wrap{
    padding: 10%;
}

.form_container{
    border: 1px solid black;
    padding: 5%;
}

input{
    border: 1px solid black;
}

.form_wrap>form{
    display: flex;
    border: solid 1px black;
}