/*reviewlistPage 썸네일*/
#review-container {
    display: flex;
    flex-wrap: wrap;
}

#review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    border: solid 1px lightblue;
    padding: 10px;
    margin: 10px;

}

.review_img{
    width: 400px;
    height: 77%;
    /*object-fit: cover;*/
}

.review_img #img{
    width: 400px;
    height: 100%;
}

.user_profile{
    width: 90%;
    height: 10%;
}


.user_profile li {
    display: inline-block;
}

.review_title{
    height: 10%;

}



.review_like{

    height: 3%;
}

.review_like>i{
    width: 20px;
    height: 20px;
}
/*페이징 처리*/

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

/*#pagination {*/
/*    margin-top: 20px;*/
/*}*/



.paging {
    text-align: center;
    margin-top: 30px;
}

.paging li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 17px;

}


.paging li > a {
    padding: 8px 8px;
    transition: background-color .3s;
    color: black;
}


.paging li:hover {

    /*background: #ffffff;*/
    font-weight: bold;
    transition: 0.1s ease-in-out;
    border-radius: 50px;

}

.paging li > a:hover {
    color: #ffffff;
}


/* 리뷰 페이지*/

#review-contents{
    width: 90%;
    border: 1px solid black;
}

#review_detail input{
    display: inline-block;
    width: 55%;
    color: rgb(0, 0, 0);
    height: 40px;
    margin: 10px auto;
    border: 1px solid rgb(126, 121, 121);

}


/*댓글*/

